# Python
__pycache__/
*.py[cod]
*.so

# Virtualenv
.env
.venv
env/
venv/
ENV/

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Django Migrations (only if you want to exclude them completely)
**/migrations/
!**/migrations/__init__.py

# IDE / Editor settings
.vscode/
.idea/
*.swp

# System files
.DS_Store
Thumbs.db
